@import 'mixins';
@import 'variables';

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;

  h1,
  h2,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  button {
    &:hover {
      cursor: pointer;
    }
  }

  .btn {
    padding: 14px 32px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;

    &__solid {
      border: none;
      background: $color-yellow;
    }

    &__bordered {
      background: transparent;
      color:  $color-yellow;
      border: 2px solid $color-yellow;
    }

    &:hover {
      transition: .3s ease;
      opacity: 60%;
    }
  }
}

// ===== HEADER =====
.header {
  @include block-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: $color-black;
  position: relative;

  &__logo {
    color: $color-pink;
  }
  &__nav {
    display: flex;
    gap: 40px;

    &--link {
      color: $color-white;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        background: linear-gradient(90deg, #EBFF00, #FF70D9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        stop:first-child {
          stop-color: #EBFF00;
        }
        stop:last-child {
          stop-color: #FF70D9;
        }
      }
    }

    @media (max-width: $bp-mobile) {
      display: none;
    }
  }
  .burger__btn {
    display: none;
    border: none;
    background: transparent;
    padding: 0;

    &:hover {
      transition: .3s ease;
      opacity: 60%;
    }

    @media (max-width: $bp-mobile) {
      display: block;
    }
  }

  @media (max-width: $bp-mobile) {
    height: 48px;
  }
}

// ===== MENU =====
.menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: white;
  z-index: 10;
  padding: 0;
  top: 0;
  margin: 0;

  &__opened {
    display: block;
  }

  &__closed {
    display: none;
  }

  &__header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    &--close {
      border: none;
      background: transparent;

      &:hover {
        opacity: 60%;
      }
    }
  }

  &__nav {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &--link {
      color: black;
      font-size: 32px;
      font-weight: 800;

      &:hover {
        opacity: 60%;
      }
    }
  }
}

// ===== BANNER =====
.banner {
  @include block-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 490px;
  color: white;
  padding-bottom: 44px;
  overflow: hidden;
  position: relative;
  background: url('../assets/bg-banner.jpg') no-repeat center/cover;

  &__content {
    max-width: 43rem;

    @media (max-width: $bp-mobile) {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 22px;

    &--highlight {
      color: $color-pink;
    }

    @media (max-width: $bp-tablet) {
      font-size: 48px;
      width: 411px;
    }

    @media (max-width: $bp-mobile) {
      width: auto;
      text-align: center;
      font-size: 32px;
    }
  }

  &__subtitle {
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 22px;

    &--highlight {
      color: $color-yellow;
    }

    @media (max-width: $bp-tablet) {
      font-size: 22px;
    }

    @media (max-width: $bp-mobile) {
      font-size: 16px;
    }
  }

  &__image {
    width: 327px;
    height: 367px;
    background: url('../assets/earth.svg') no-repeat center/cover;

    @media (max-width: $bp-tablet) {
      position: absolute;
      top: 15%;
      right: -15%;
    }

    @media (max-width: $bp-mobile) {
      position: absolute;
      top: -20%;
      right: 0;
    }
  }

  .btn {
    @media (max-width: $bp-mobile) {
      width: 161px;
      height: 33px;
      font-size: 16px;
    }
  }
  
  @media (max-width: $bp-tablet) {
    height: 420px;
  }

  @media (max-width: $bp-mobile) {
    display: flex;
    align-items: end;
    height: 450px;
  }
}

// ===== MAIN =====
.main {
  @include block-padding;
  background: $color-blue;
  padding-top: 60px;
  padding-bottom: 60px;
  color: $color-white;

  @media (max-width: $bp-tablet) {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  @media (max-width: $bp-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

// ===== OFFERS =====
.offers {
  margin-bottom: 62px;

  @media (max-width: $bp-tablet) {
    margin-bottom: 55px;
  }

  @media (max-width: $bp-mobile) {
    margin-bottom: 55px;
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;

    @media (max-width: $bp-tablet) {
      font-size: 24px;
      margin-bottom: 30px;
    }

    @media (max-width: $bp-tablet) {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }

  &__list {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;

    @media (max-width: $bp-tablet) {
      grid-template-rows: auto auto;
    }

    @media (max-width: $bp-mobile) {
      grid-template-columns: 1fr;
    }
  }

  .offer {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 35px;
    border-radius: 10px;

    @media (max-width: $bp-tablet) {
      padding: 27px;
      height: 327px;
    }

    @media (max-width: $bp-mobile) {
      grid-template-columns: 1fr;
    }

    &--long {
      grid-column: 1 / -1;

      &:first-child {
        background: url('../assets/offer1.jpg') no-repeat center/cover;
      }
      &:last-child {
        background: url('../assets/offer4.jpg') no-repeat center/cover;
      }

      @media (max-width: $bp-tablet) {
        grid-column: auto
      }

      @media (max-width: $bp-mobile) {
        grid-column: auto
      }
    }

    &--short {
      &:nth-child(2) {
        background: url('../assets/offer2.jpg') no-repeat center/cover;
      }
      &:nth-child(3) {
        background: url('../assets/offer3.jpg') no-repeat center/cover;
      }

      @media (max-width: $bp-tablet) {
        grid-column: auto
      }

      @media (max-width: $bp-mobile) {
        grid-column: auto
      }
    }

    &__title {
      margin-top: auto;
      margin-bottom: 22px;
      width: 60%;

      @media (max-width: $bp-tablet) {
        min-width: 250px;
      }

      &--large {
        font-size: 74px;
        font-weight: 800;

        @media (max-width: $bp-tablet) {
          font-size: 40px;
        }
      }
      &--small {
        font-size: 46px;
        font-weight: 800;

        @media (max-width: $bp-tablet) {
          font-size: 40px;
        }
      }
    }

    &__subtitle {
      margin-bottom: 22px;
      width: 60%;

      &--large {
        font-size: 26px;
        font-weight: 800;

        @media (max-width: $bp-tablet) {
          font-size: 16px;
          width: auto;
        }
      }
      &--small {
        font-size: 24px;
        font-weight: 800;

        @media (max-width: $bp-tablet) {
          font-size: 16px;
          width: auto;
        }
      }
    }

    .btn {
      @media (max-width: $bp-tablet) {
        height: 33px;
        width: 191px;
        font-size: 16px;
      }
    }
  }
}

// ===== INFO =====
.info {
  &__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 17px;

    @media (max-width: $bp-tablet) {
      font-size: 24px;
    }

    @media (max-width: $bp-mobile) {
      font-size: 18px;
    }
  }

  &__description {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
    opacity: 60%;

    @media (max-width: $bp-tablet) {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @media (max-width: $bp-mobile) {
      font-size: 14px;
    }
  }

  &__readmore {
    font-size: 20px;
    font-weight: 800;
    color: $color-yellow;

    &:hover {
     opacity: 60%;
     cursor: pointer;
     transition: .3s ease;
    }

    @media (max-width: $bp-tablet) {
      font-size: 16px;
    }

    @media (max-width: $bp-mobile) {
      font-size: 14px;
    }

    &--toggle {
      display: none;
    }
  }
}

// ===== FOOTER =====
.footer {
  height: 127px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;

  &__slogan {
    font-size: 18px;
    font-weight: 800;
    color: $color-yellow;
  }
}
