// ===== COLORS =====
$color-yellow: #EBFF00;
$color-pink: #FF70D9;
$color-blue: #304571;
$color-black: #000000;
$color-white: #FFFFFF;

// ===== BREAK POINTS =====
$bp-desktop: 1248px;
$bp-tablet: 768px;
$bp-mobile: 360px;
